<div class="row">
  	<div class="span1">
        <%= image_tag @wallpost.user.gravatar_url %>
	</div>
	<div class="span4">
		<h3><%= @wallpost.user.full_name %></h3>
	</div>
</div>
<div class="span1">
</div>
	<p>
	<%= @wallpost.content %>
	</p>

<%= link_to 'Back', wallposts_path %>
