
<p>
  <strong>Name:</strong>
  <%= @wallpost.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wallpost.content %>
</p>

<%= link_to 'Edit', edit_wallpost_path(@wallpost) %> |
<%= link_to 'Back', wallposts_path %>
